*{
    border-radius: 0!important;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 80px;
}
.navbar{
    margin-bottom: 0;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar-brand {
    padding: 0 15px;
}
.dropdown-menu{
    padding: 0;
}
.dropdown-menu>li>a {
    padding: 12px 20px;
}
.hero{
    position: relative;
    overflow: hidden;
    background-image: none;
    background-color: black;
    padding: 0 !important;
    height: calc(100vh - 51px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
section.hero #home-background {
    display: block;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.content {
    padding-top: 80px;
    padding-bottom: 40px;
    position: relative;
}
.main-carousel{
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0,0,0,0.7);
}
.item-thumb {
    cursor: pointer;
    padding: 0;
    border: none;
}
.item-well {
    padding: 20px!important;
}
.well.item-well .media-body {
    padding: 20px 0 20px 10px;
}
.parallax-window {
    min-height: 500px;
    position: absolute;
    background: transparent;
    width: 100%;
}
.daily_spec{
    cursor: pointer;
}
.owl-slide{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.well {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    padding: 0;
    border-bottom: 0;
}
.well .media-body {
    padding: 20px 10px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.hovercard{
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.hovercard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.hovercard-sm{
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.hovercard-sm:hover{
  box-shadow:0 0 4px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.section-bgr{
    background-size: cover !important;
    background-position: center center !important;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-filter:grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
}



/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:25px; 
}
.group input,
.group textarea{
  font-size:18px;
  width: 100%;
  background:transparent;
  padding:10px 10px 10px 0px;
  display:block;
  color:#fff;
  border:none;
  border-bottom:1px solid #757575;
}
.group textarea{
    resize: none;
}
input:focus,
textarea:focus{ outline:none; }

/* LABEL ======================================= */
.group label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  text-transform: uppercase;
  left:0;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label, textarea:valid ~ label{
  top:-20px;
  font-size:14px;
  color:#fff;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block;  }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#fff; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after,input:valid ~ .bar:before, input:valid ~ .bar:after,
textarea:focus ~ .bar:before, textarea:focus ~ .bar:after, textarea:valid ~ .bar:before, textarea:valid ~ .bar:after{
  width:50%;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
.black-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
}

.btn {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}
.contacts-section{
    padding-top: 50px;
        padding-bottom: 35px;
}
.address-block{
    background: rgba(117,117,117,0.7);
    color: #fff;
    padding:0 20px;
    margin-bottom: 30px;
}
.sh1 {
    font-size: 18px;
    padding: 10px 0;
    text-transform: uppercase;
}
.sh2 {
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 0;
}
.sh3{
    font-size: 18px;
    margin-bottom: 15px;
}
.no-margin-form-group .form-group{
    margin-bottom: 0;
}
.address-block ul{
    padding-bottom: 15px;
}
.item-thumb .caption a{
    color: #333;
    cursor: pointer;
    text-decoration: none;
}
.daily-special-block{
    margin-bottom: 60px;
}


div.section-header {
    font: 22px Arial,sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}
div.section-header {
    text-align: center;
    position: relative;
    z-index: 1;
}
div.section-header:before {
    border-top: 1px solid #333;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
div.section-header span {
    background: #fff;
    padding: 0 15px;
}
.well-body{
    padding: 15px 15px 15px 0;
}
.read_more{
    margin-top: 10px;
    padding-bottom: 15px;
}
@media (max-width: 991px) {
    .content{
        padding-top: 40px;
    }
    .well-body{
        padding: 15px;
    }
    .read_more{
        float: right!important;
    }
}